{% extends 'base.html' %}

{% block body %}

<main class="flex m-auto text-white">
    
    {% include "brand.html" %}
    
    {% if "login" in request.endpoint %}
        {% include "forms/form-login.html" %}  
    
    {% elif "register" in request.endpoint %}
        {% include "forms/form-register.html" %}  

    {% elif "reset" in request.endpoint %}
        {% include "forms/form-reset-password.html" %}

    {% else %}
        {% include "forms/form-recover.html" %}  
        
    {% endif %}

</main>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="./static/js/brand.js"></script>
{% endblock %}