{% extends 'base.html' %}

{% block body %}

<main class="md:m-auto">
    
    {% if "login" in request.endpoint %}
        {% include "forms/form-login.html" %}  
    
    {% elif "register" in request.endpoint %}
        {% include "forms/form-register.html" %}  

    {% elif "reset" in request.endpoint %}
        {% include "forms/form-reset-password.html" %}

    {% else %}
        {% include "forms/form-recover.html" %}  
        
    {% endif %}

    {% include "footer.html" %}
</main>

{% endblock %}
