{% extends 'base.html' %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block modal %}
    {% include "schemas/modal.html" %}
{% endblock %}


{% block body%}

    <main id="profile" class="container m-auto p-2">
    
        {% if 'user' in request.args.keys() %}
            {% include "schemas/profile-users.html" %}
        {% else %}
            {% include "schemas/profile-client.html" %}
        {% endif %}
        
    </main>

{% endblock %}


{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}