{% extends 'base.html' %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block body%}

<main class="container m-auto p-2 grid justify-around md:flex">
        
    <div class="p-2 mt-24 max-w-[500px]">
        <a href={{api_url}} class="text-xl flex gap-2 w-min p-2 hover:text-blue-500">
            <ion-icon name="link-outline"></ion-icon>
            Repo
        </a>
        <img src={{api_img}} class="rounded-md">
    </div>


    <div class="p-2 mt-24 max-w-[500px]">
        <a href={{app_url}} class="text-xl flex gap-2 w-min p-2 hover:text-blue-500">
            <ion-icon name="link-outline"></ion-icon>
            Repo
        </a>
        <img src={{app_img}} class="rounded-md">
    </div>
</main>

{% endblock %}