<div id="alert" class="fixed h-auto w-auto items-center flex justify-center bg-white/16 rounded-lg inset-x-0 bottom-0">
    <!-- FLASH ALERT MESSAGES -->
    <style>
        .alert {
            text-align: center;
            border-radius: 0.5rem;
            transition: .5s;
        }

        .alert-info {
            color: rgb(255, 255, 255);
        }

        .alert-success {
            color: rgb(48, 182, 48);
        }

        .alert-danger {
            color: tomato;
        }
    </style>

    {% with posts = get_flashed_messages(with_categories=True) %}
        {% if posts %}
            {% for category, message in posts %}
                <div class="alert {{ category }} bg-sky-500/10 p-2">
                    --{{ message }}--
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>