<footer class="w-full h-auto border-t p-2">
     <!-- CONTACT -->
     <div class="grid justify-end text-left w-full h-auto gap-3 text-gray-600">

        <a href="https://github.com/Fernando-Medeiros" target="blank"
        class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
            <ion-icon name="logo-github" class="text-4xl"></ion-icon>
        </a>

        <a href="https://www.linkedin.com/in/fernando-de-alvarenga-medeiros-037306207/" target="blank"
        class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
            <ion-icon name="logo-linkedin" class="text-4xl"></ion-icon>
        </a>

        <a href="https://www.youtube.com/channel/UC4DtvxaUeEZHmqafh5mSOLg" target="blank"
        class="transition ease-in-out delay-150 hover:text-white -translate-y-1 hover:scale-110 hover: duration-300">
            <ion-icon name="logo-youtube" class="text-4xl"></ion-icon>
        </a>
    </div>
</footer>