<section id="background" class="mt-14">
    <img src={{ url_for('static', filename='img/background.jpg' ) }}
        class="rounded-lg w-full h-20 object-cover drop-shadow-md  md:h-40">
</section>


<section id="info" class="flex p-2 w-full justify-between items-center bg-black/10 rounded-lg drop-shadow-md border-b border-gray-500/50">

    <div class="flex gap-10 p-2 items-center">
        
        <img src={{ avatar }}
            class="w-full max-w-[80px] rounded-full bg-white object-cover drop-shadow-md">
            
            
            <span class="grid gap-5 text-1xl items-center md:flex">
                <stong>
                    {{ account['first_name'] | title}}
                    {{ account['last_name'] | title}}
                </stong>
                <p>
                    @{{ username }}
                </p>
            </span>
                
    </div>
    
    <a href={{ url_for("profile.update") }} class="drop-shadow-md hover:text-white/50">
        <ion-icon name="menu-outline" class="text-3xl"></ion-icon>
    </a>
</section>


<section id="bio" class="mt-10 w-full h-auto min-h-[50px] p-2 rounded-lg border-x-4 border-gray-500/50 bg-gray-500/20">
    <p class="text-ml p-2 break-all">
        {{ bio }}
    </p>
</section>


<section id="tags" class="mt-10 p-2 w-full h-auto border-b border-gray-500/50 rounded-lg drop-shadow-md">
    <div class="flex gap-7 w-full">
        <span class="text-1xl">
            Posts {{ posts | length}}
        </span>
        <span class="text-1xl">
            Curtidas {{ likes }}
        </span>
        <span class="text-1xl">
            Respostas {{ replies }}
        </span>
    </div>
</section>


<section id="posts" class="grid gap-10 mt-5 p-2 bg-blue-500/10 rounded-lg md:grid-cols-2">
    {% include "schemas/posts.html" %}
</section>