<!-- FORM NEW ACCOUNT -->
<section id="form" class="w-full h-screen bg-black pt-24 m-auto p-2 md:m-auto md:w-[620px]">

    <div class="w-full p-1 flex justify-center">
        <a href="{{ url_for('home.timeline') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="81">
        </a>
    </div>

    <form method="POST" action="" class="p-2 flex flex-col gap-4">

        {{ form.csrf_token }}

        <fieldset class="flex flex-col gap-4">


            <div class="flex flex-col gap-1 w-full">
                {{ form.first_name.label }}

                {% if form.first_name.errors %}
                {{ form.first_name (class='px-2 h-12 rounded text-black border-2 border-red-700/75') }}

                <div class="alert-danger">
                    {% for error in form.first_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.first_name(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>


            <div class="flex flex-col gap-1 w-full">
                {{ form.last_name.label }}

                {% if form.last_name.errors %}
                {{ form.last_name (class='px-2 h-12 rounded text-black border-2 border-red-700/75') }}

                <div class="alert-danger">
                    {% for error in form.last_name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.last_name(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>


            <div class="flex flex-col gap-1 w-full">
                {{ form.username.label }}

                {% if form.username.errors %}
                {{ form.username (class='px-2 h-12 rounded text-black border-2 border-red-700/75') }}

                <div class="alert-danger">
                    {% for error in form.username.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.username(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>


            <div class="flex flex-col gap-1 w-full">
                {{ form.email.label }}

                {% if form.email.errors %}
                {{ form.email (class='px-2 h-12 rounded text-black border-2 border-red-700/75') }}

                <div class="alert-danger">
                    {% for error in form.email.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.email(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>


            <div class="flex flex-col gap-1 w-full">
                {{ form.password.label }}

                {% if form.password.errors %}
                {{ form.password (class='px-2 h-12 rounded text-black border-2 border-red-700/75')}}

                <div class="alert-danger">
                    {% for error in form.password.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.password(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>


            <div class="flex flex-col gap-1 w-full">
                {{ form.auth.label }}

                {% if form.auth.errors %}
                {{ form.auth (class='px-2 h-12 rounded text-black border-2 border-red-700/75')}}

                <div class="alert-danger">
                    {% for error in form.auth.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                {% else %}
                {{ form.auth(class='px-2 h-12 rounded text-black') }}
                {% endif %}
            </div>

        </fieldset>

        {% include "alert.html" %}

        <button type='submit' class="flex items-center justify-center text-white p-2 w-6/12 m-auto border border-gray-500/75 rounded
             h-14 bg-gradient-to-r from-sky-500 to-[#D9A404]
             hover:border-white">
            Entrar
        </button>

    </form>

    <span class="m-auto mt-5 p-2 flex justify-center hover:text-white">
        <a href="{{ url_for('auth.login') }}">
            Voltar ao login
        </a>
    </span>

</section>