<form id="form-background" method="POST" action="" enctype="multipart/form-data" class="hidden">

    {{ form_background.csrf_token }}

    <fieldset class='flex flex-col gap-2'>
        <div class="flex justify-between">
            Background
                
            <button type='submit' class="flex items-center text-white p-2 w-min h-min border border-gray-500/75 rounded hover:border-white">
                Atualizar
            </button>
        </div>
        {{ form_background.background }}
    </fieldset>

</form>